﻿@using ArayanBulur.Resources
@model ArayanBulur.Models.Category

@{

        ViewBag.Title = CeilraResource.Delete;
}

<h2>Sil</h2>

<h3>Silmek istedğinize emin misiniz?</h3>
<div>
    <h4>@CeilraResource.Catagoreis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        @if (Model.CategoryFoto == null)
                        {
                            <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/tf/concreate/img/resimyok.png" alt="" />
                        }
                        else
                        {
                            <img style='width:100px; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.CategoryFoto)" alt="" />
                        }
                    </div>
                </div>
            </div>
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink(CeilraResource.backToList, "CategoryIndex")
            @Html.ActionLink(CeilraResource.backToPanel, "Index")
        </div>
    }
</div>
