﻿@using ArayanBulur.Resources
@model ArayanBulur.Models.Category

@{
    ViewBag.Title = CeilraResource.Details;
}

<h2>Detaylar</h2>

<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>
            @*@Html.DisplayFor(model => model.CategoryFoto)*@
            <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        @if (Model.CategoryFoto == null)
                        {
                            <img style='width:100px; height:auto; border:solid 1px #cccccc;' src="~/tf/concreate/img/resimyok.png" alt="" />
                        }
                        else
                        {
                            <img style='width:100px; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.CategoryFoto)" alt="" />
                        }
                    </div>
                </div>
            </div>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "CategoryEdit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Listeye Geri Dön", "CategoryIndex")
    @Html.ActionLink("Panele Geri Dön", "Index")
</p>

