﻿@using ArayanBulur.Resources
@model IEnumerable<ArayanBulur.Models.Category>



<h2>Liste</h2>

<p>
    @Html.ActionLink("Ekle", "CategoryCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryFoto)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            @if (item.CategoryFoto == null)
                            {
                                <img style='width:100px; height:auto; border:solid 1px #cccccc;' src="~/tf/concreate/img/resimyok.png" alt="" />
                            }
                            else
                            {
                                <img style='width:100px%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.CategoryFoto)" alt="" />
                            }
                        </div>
                    </div>
                </div>
            </td>
            <td>
                @Html.ActionLink(CeilraResource.Edit, "CategoryEdit", new { id = item.CategoryID }) |
                @Html.ActionLink(CeilraResource.backToList, "CategoryIndex")|
                @Html.ActionLink(CeilraResource.backToPanel, "Index")
            </td>
        </tr>
    }

</table>

