﻿@using ArayanBulur.Resources

@{
    ViewBag.Title = CeilraResource.Admin;
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">@Html.ActionLink(CeilraResource.Admin, "Index", "Admin")</li>
                        <li>@Html.ActionLink(CeilraResource.product, "ProductIndex", "Admin")</li>
                        <li>@Html.ActionLink(CeilraResource.Catagoreis, "CategoryIndex", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
