﻿@using ArayanBulur.Resources
@model IEnumerable<ArayanBulur.Models.Category>

@{
    ViewBag.Title = CeilraResource.Edit;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink(CeilraResource.Edit, "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink(CeilraResource.Details, "Details", new { id = item.CategoryID }) |
                @Html.ActionLink(CeilraResource.Delete, "Delete", new { id = item.CategoryID })
            </td>
        </tr>
    }

</table>
