/* CSS Document */


/* 
*
*
[Table of contents]
*
*
*
    font-concreate / @import url
	general / body
	space / .space-single
	general margin / .m-40-left
	button / button
	section / section
	no select / .noselect
	wrapper / .content-wrapper
	whitepage / .whitepage
	preloader / .preloader
	sub navigation / .subnav
	navigation / header
	subheader / #subheader
	home / #mainbanner
	background img / .mainbg
	about / #about
	gallery home / .gal-home
	team / #owl-team
    detail / #detailproject
	gallery / .projects-grid
    gallery max width / #w-gallery-container
    post share  / .post-share
    form search / .search-container
	footer / .footer
	totop / #totop
	Blog / .blog-simple .blog-text
	Blog comment / #blog-comment
	map / #map-1 
	contact / .wrapaddres
	Magnific Popup CSS / .mfp-bg
	Owl Carousel / .owl-carousel
	pagination owl / #owl-testimonial .owl-dots
	scroll onStep / .onStep
*
*
*/

/* font-concreate */
@import url('../../../css.css');

/* general */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.45rem;
    line-height: 1.9em;
    font-style: normal;
    letter-spacing: .6px;
    color: #4e4e4e;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a {
    color: inherit;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a:hover, a:active {
    color: #dd4425;
    text-decoration: none;
    outline: 0;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
article a {
    text-decoration: underline;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: bold;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    text-decoration: none;
}
.bold{
    font-weight: bold;
}
.wrapheading{
    margin-bottom: 30px;
}

/* space */
.space-single {
    width: 100%;
    height: 30px;
    display: block;
    clear: both;
}
.space-double {
    width: 100%;
    height: 60px;
    display: block;
    clear: both;
}
.space-half {
    width: 100%;
    height: 15px;
    display: block;
    clear: both;
}
hr {
    display: block;
    clear: both;
    border-top: solid 1px #ddd;
    margin: 40px 0 40px 0;
}
.center {
    text-align: center;
    margin: 0 auto;
}
.left {
    text-align: left;
    float: left;
    line-height: inherit;
}
.right {
    text-align: right;
    float: right;
    line-height: inherit;
}
.color {
    color: #dd4425;
}
.min-left {
    margin-left: -15px;
}
.min-right {
    margin-right: -15px;
}

/* general margin */
.m-40-left {
    margin-left: 40px;
}
.m-5-hor {
    margin-left: 5% !important;
    margin-right: 5% !important;
    padding: 0;
}
.m-30-bot{
    margin-bottom: 30px;
}
/* padding */
.p-0{
    padding: 0 0;
}

/* button */
button {
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
button:hover {
    border: none;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-content {
    position: relative;
    padding: 8px 20px; 
    font-size: 10pt;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    background: #dd4425;
    border-radius: 2px;
    border: 3px solid #dd4425;
    outline: none;
    text-shadow: none;
    margin-top: 17px;
    cursor: pointer;
    overflow: hidden;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-content:hover {
    color: #fff;
    background: #999;
    border: 3px solid rgba(255, 255, 255, 0);
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.btn-content:hover .shine {
    -webkit-animation: sheen .6s alternate;
    animation: sheen .6s alternate;
}
.btn-content:hover a {
    color: #fff;
}
.input-group-btn button{
    border:none;
    padding:0px;
}

/* section */
section {
    padding: 90px 0 90px 0;
}
section.dot{
    background-image: url(../img/dot1.png);
    opacity: .9;
}
.no-bottom {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.no-top {
    padding-top: 0 !important;
    margin-top: 0 !important;
}
.no-padding, section.no-padding {
    padding: 0;
}
section.crumbs{
    padding: 30px 0 30px 0;
}
.p-30 {
    padding: 30px;
}
.p-60 {
    padding: 60px;
}
.p-90 {
    padding: 90px;
}
.sp-padding {
    padding: 30px 0 30px 0;
    overflow: hidden;
    overflow-x: hidden;
}
.devider-left {
    display: block;
    border-top: 4px solid #ff9219;
    width: 45px;
    margin:20px 0 30px 0;
}
.devider-center {
    display: block;
    border-top: 2px solid #ff9219;
    width: 93px;
    margin:20px auto;
    margin-bottom: 40px;

}
.sub-heading-content{
    display: block;
    font-size: 17px;
    color: #dd4425;
}

/* no select */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* wrapper */
.content-wrapper {
    overflow: hidden!important;
}
.v-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.start-align {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}
.no-gutter {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.no-gutter [class*='col-']:not(:first-child), .no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.row.equal {
    display: flex;
    flex-wrap: wrap;
}

/* whitepage */
.whitepage {
    color: #666;
    background: #fff;
    background: -webkit-linear-gradient(#fff, #f8f8f8);
    background: -o-linear-gradient(#fff, #f8f8f8);
    background: -moz-linear-gradient(#fff, #f8f8f8);
    background: linear-gradient(#fff, #f8f8f8);
}
.color-page {
    color: #606060;
    background: #f5f5f5;
    box-shadow: 0 7px 10px 2px rgba(0, 0, 0, 0.06);
}
.dark-page {
    color: #fff;
    background: #333;
}

/* content column */
.col-content {
    position: relative;
    width: 100%;
    height: auto;
}
.col-content h1, .col-content h2, .col-content h3, .col-content h4, .col-content h5, .col-content h6 {
    margin-bottom: 30px;
    font-weight: 500;
}
.col-content h3 {
    font-size: 23pt;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: normal;
}
.col-content p {
    font-weight: 300;
    line-height: 2em;
    letter-spacing: .4px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.col-content {
    color: #555;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: .4px;
}

/* preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
}
.prtf-smooth-transition-loader.prtf-hide-spinner .prtf-st-loader { display:none}
.prtf-st-loader1 {
 position:relative;
 height:100%
}
/*---MainCube----*/
.prtf-outline .prtf-line-1 {
 top:0;
 left:0;
 height:0;
 width:0;
 border-right:4px solid #ddd;
 -webkit-animation-name:animateHeight;
 animation-name:animateHeight;
 animation-duration:1.5s;
 animation-iteration-count:infinite;
 animation-timing-function:ease;
 animation-delay:0s;
 animation-fill-mode:forwards
}
.prtf-outline .prtf-line-2 {
 bottom:0;
 right:0;
 border-top:4px solid #ddd;
 -webkit-animation-name:animateWidth;
 animation-name:animateWidth;
 animation-duration:1.5s;
 animation-iteration-count:infinite;
 animation-timing-function:ease;
 animation-delay:0s;
 animation-fill-mode:forwards
}
.prtf-outline .prtf-line-3 {
 top:0;
 left:0;
 border-bottom:4px solid #ddd;
 -webkit-animation-name:animateWidth;
 animation-name:animateWidth;
 animation-duration:1.5s;
 animation-iteration-count:infinite;
 animation-timing-function:ease;
 animation-delay:0s;
 animation-fill-mode:forwards
}
.prtf-outline .prtf-line-4 {
 bottom:0;
 right:0;
 height:0;
 width:0;
 border-left:4px solid #ddd;
 -webkit-animation-name:animateHeight;
 -webkit-animation-duration:1.5s;
 -webkit-animation-iteration-count:infinite;
 -webkit-animation-timing-function:ease;
 -webkit-animation-delay:0s;
 -webkit-animation-fill-mode:forwards;
 animation-name:animateHeight;
 animation-duration:1.5s;
 animation-iteration-count:infinite;
 animation-timing-function:ease;
 animation-delay:0s;
 animation-fill-mode:forwards
}
.prtf-outline .prtf-line-1,.prtf-outline:after {
 -webkit-animation-duration:1.5s;
 -webkit-animation-iteration-count:infinite;
 -webkit-animation-timing-function:ease;
 -webkit-animation-delay:0s;
 -webkit-animation-fill-mode:forwards
}
.prtf-outline .prtf-line-2,.prtf-outline .prtf-line-3 {
 -webkit-animation-duration:1.5s;
 -webkit-animation-iteration-count:infinite;
 -webkit-animation-timing-function:ease;
 -webkit-animation-delay:0s;
 -webkit-animation-fill-mode:forwards;
 height:0;
 width:0
}
.prtf-outline .prtf-line-1,.prtf-outline .prtf-line-2,.prtf-outline .prtf-line-3,.prtf-outline .prtf-line-4,.prtf-outline .prtf-outline .prtf-portfolio-list-holder-outer.prtf-line-4,.prtf- portfolio-list-holder-outer {
 position:absolute;
 border-color:#555;
 opacity:0
}
/*---SecondCube. You can set cube size)---*/
.prtf-outline {
 position:absolute;
 top:calc(50% - 25px);
 left:calc(50% - 25px);
 width:50px;
 height:50px;
 background-color:#fff
}
/* preloader animation */
@-webkit-keyframes animateWidth {
 0% {opacity:1;width:0}
 40%,80% {width:30%;opacity:1}
 100% { opacity:0;width:100%}
}
@keyframes animateWidth {
 0% {opacity:1;width:0}
 40%,80% {width:30%;opacity:1}
 100% {opacity:0;width:100%}
}
@-webkit-keyframes animateHeight {
 0% {opacity:1;height:0}
 40%,80% {height:30%;opacity:1}
 100% {height:100%; opacity:0}
}
@keyframes animateHeight {
 0% {opacity:1;height:0}
 40%,80% {height:30%;opacity:1 }
 100% { height:100%;opacity:0}
}
.bg-preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 99999;
}
.bg-preloader-white {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 999999;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.bg-preloader-white-bot {
    position: fixed;
    width: 50%;
    height: 100%;
    bottom: 0px;
    right: 0px;
    background: #fff;
    z-index: 999999;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.bg-hide{
    height: 0% !important;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
/* end preloader */

/* sub navigation */
.subnav {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .3px;
    color: #000;
    background: #fff;
    padding: 20px 0 45px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
#sub-icon {
    border-right: 1px solid rgba(0, 0, 0, .3);
    padding-right: 30px;
    margin-right: 30px;
}
.social-icons-subnav, .social-icons-subnav div {
    display: inline-block;
}
.social-icons-subnav div{
    letter-spacing: 1px;
}
.right .social-icons-subnav {
    margin-right: 10px;
}
.right .social-icons-subnav:last-child{
	margin-right: 0px;
}
.social-icons-subnav span, .social-icons-subnav i {
    text-shadow: none;
    padding: 8px;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #000;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.social-icons-subnav a{
    margin: 0 5px;
    cursor: pointer;
}
.social-icons-subnav a:last-child{
    margin-right: 0;
}
.social-icons-subnav a:hover, .social-icons-subnav a:hover span{
    color: #dd4425;
    border-color: #eceff3;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/******************** navigation *******************/
header {
    position: relative;
    z-index: 999;
}
header.init {
    width: 100%;
    height: 150px;
    background: rgba(255, 255, 255, 1);
    -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
}
header.show {
	position: fixed;
    height: 100px;
    box-shadow: 0px 10px 90px rgba(23, 36, 52, .1);
    background: rgba(255, 255, 255,1) !important;
    -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
}
.navbar-default-white {
    position: fixed;
    margin: 70px auto;
    top: 0px;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px groove rgba(255, 255, 255, 0);
    -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
}
.navbar-default-white {
    transform: translateZ(0);
    /* Scroll Fix in iPad */
    width: 100%;
    height: 100px;
    -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
}
.navbar-default-white.fullHeight {
    height: 100vh !important;
}
.navbar-brand.white {
    position: relative;
    top: 12px;
    left: 0px;
    z-index: 2;
}
.navbar-brand.white img {
    width: auto;
    height: auto;
    max-height: 44px!important;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.navbar-brand.white img.black {
    display: none;
}
.navbar-default-white.sticky {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: inherit;
    box-sizing: border-box;
    -webkit-transition: all .3s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .3s cubic-bezier(.165, .84, .44, 1);
    transition: all .3s cubic-bezier(.165, .84, .44, 1);
}
/* menu nav */

.white nav {
    position: relative;
    float: right;
    z-index: 999;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.white nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.white nav ul li {
    display: inline-block;
    margin: 0;
    margin-right: 30px;
}
.white nav ul li:last-child{
    margin-right: 15px;
}
.white nav ul li .input-group {
    top: 15px;
    margin-left: 20px;
    width: 220px;
}
.white nav ul li .input-group button {
    display: inherit;
    padding: 0;
    line-height: 0px;
    border: none;
}
.white nav ul li .input-group i {
    margin-left: 0px;
}
.white nav a {
    display: block;
    padding: 10px 0px 10px 20px;
    color: #000000;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: .3px;
    line-height: 80px;
    text-decoration: none;
    text-transform: uppercase;
}
.white nav a:hover {
    color: #dd4425 !important;
}
.white nav a:hover::before {
    display: inline-block;
    position: absolute;
    max-width: 35px;
    color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
}
.white nav a::before {
    position: absolute;
    overflow: hidden;
    max-width: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
    white-space: nowrap;
}
.white nav a.actived {
    color: #dd4425 !important;
}
.white nav ul ul {
    display: none;
    position: absolute;
    top: 100px;
    color: #efefef;
}
.white nav ul li:hover>ul {
    display: inherit;
    -webkit-animation-name: animfadeInUpmenu;
    animation-name: animfadeInUpmenu;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.white nav ul ul li {
    width: 230px;
    float: none;
    display: list-item;
    background: #fff;
    border-bottom: 1px groove rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 2px rgba(23, 36, 52, .05);
    position: relative;
}
.white nav ul li i {
    margin-left: 10px;
}
.white nav ul ul li a {
    font-size: 11px;
    line-height: 30px;
    padding-left: 17px;
}
.white nav ul ul li a:hover {
    background: #f8f8f8;
}
.white nav ul ul li a.active {
    background: #f8f8f8;
}
.white nav ul ul li:last-child {
    border-bottom: none;
}
.white nav ul ul ul li {
    position: relative;
    top: -75px;
    left: 230px;
}
.white>nav>ul>li.has-children>a:after {
    content: '\f107';
    font-family: 'FontAwesome';
    margin-left: 10px;
}
li>a:only-child:after {
    content: '';
}
span.span-drop {
    position: absolute;
    right: 11%;
    cursor: pointer;
}
span.span-drop:after {
    content: '\f107';
    font-family: 'FontAwesome';
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    background: #999;
}
@media (min-width: 1200px) {
    span.span-drop {
        display: none;
    }
}
/* end menu nav */

/******************** navigation end *******************/

/* subheader */
#subheader {
    color: #fefefe;
    padding: 310px 0 80px 0;
    background: #222;
    background: url(../img/bg-subheader.jpg)top fixed;
    background-size:cover;
}
#subheader-commerce {
  color: #fefefe;
  padding: 310px 0 80px 0;
  background: #222;
  background: url(../img/bg-commerce.jpg)top fixed;
}
#subheader h1, #subheader-commerce h1 {
    text-align: left;
    margin-top: 40px;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: none;
    color: #fefefe;
}
#subheader p, #subheader-commerce p{
    font-size: 12pt;
    letter-spacing: 1px;
}
h1.crumbs{
    display: inline-block;
    font-size: 3.428rem;
    font-weight: 600;
    letter-spacing: 2px
}
ul#crumbs {
    display: inline-block;
    padding: 0;
    float: right;
    margin-top: 30px;
}

ul#crumbs li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px;
}

ul#crumbs li a {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
}

ul#crumbs li:after {
    content: '/';
    padding: 0 15px;
}

ul#crumbs li:last-child:after {
    display: none;
}
/* subheader end */

/* heading */
.heading{
    font-size: 1.89rem;
    font-weight: 600;
    color:#b4b4b4;
    text-transform: uppercase;
}
.heading:after{
    content: "";
    width: 7rem;
    position: relative;
    display: block;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: .28rem solid #dd4425;
}
.headingcontent{
    font-size: 4.1rem;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 2rem;
}
.year{
    display: block;
    position: relative;
    margin-top: 80px;
    text-align: left;
    color: #000;
}
.year .heading{
    display: inline-block;
    font-size: 10.3rem;
    margin-bottom: 10px;
    line-height: 55px;
    border-bottom: 16px solid #dedede;
    color: #000;
    margin-right: 15px;
}
.year .heading:after{
    content:none;
}
.year .subheading{
    display: inline-block;
    font-size: 1.8rem;
    line-height: normal;
}
/* heading end */

/* home */
#mainbanner {
    position: relative;
    color: #fff;
    margin: 15px 0;
    z-index: 1;
}
.overlay-main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
}

/* background img */
.mainbg {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    background: url(../img/bg-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mainbg-1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    background: url(../img/bg-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mainbg-paralax {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.imgbg {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.imgbgres {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mainbgvideo {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
}
.bgslider-owl {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #fff;
    overflow: hidden;
}
.bgslider {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
    background: #535353;
}
.bgslider img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}
/* background video  */

.bgvideo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50px;
    left: 0;
    background: #efefef;
}
.video {
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#imghome{
    width: 100%;
    height: auto;
    position: relative;
}
#imghome::before{
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background: url(../img/dot.png);
    left: -33px;
    top:39px;
    opacity: 0.8;
}

/* gallery home */
.gal-home {
  position: relative;
  letter-spacing: 1px;
  overflow: hidden;
  margin-bottom: 20px;
  z-index: 0;
}
.gal-home:hover img {
  width: 100%;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
.gal-home img {
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
.gal-home .hovereffect {
  width: 100%;
  height: auto;
  max-height: 560px;
  overflow: hidden;
  float: left;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
}
.gal-home.pages .hovereffect{
    max-height: 360px;
}
.gal-home .hovereffect a{
    display: block;
    cursor: zoom-in;
    position: relative;
    z-index: 999;
}
.gal-home h3, .gal-home h4{
    margin-bottom: 0px;
}
.hovereffect-color::before, .hovereffect-color::after, .hovereffect::before, .hovereffect::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.gal-home .hovereffect .overlay {
  width: 90%;
  height: 90%;
  position: absolute;
  color: #fff;
  background-color: rgba(9, 12, 13, .6);
  border:1px solid rgba(200,177,111,.8);
  margin: 5%;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gal-home .hovereffect:hover .overlay {
  bottom: 0;
  left: 0;
  opacity: 1;
}
.overlay.start-align  p {
  font-weight: 300;
  line-height: normal;
  letter-spacing: 3px;
}
.gal-home .hovereffect .overlay .devider {
  display: block;
  margin: 8px auto;
  width: 188px;
  border-top: 1px solid rgba(200,177,111,.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.gal-home .hovereffect:hover .overlay .devider {
  display: block;
  margin: 10px auto;
  width: 138px;
  border-top: 1px solid rgba(200,177,111,.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.projects-grid {
  position: relative;
  letter-spacing: 1pt;
  text-transform: uppercase;
  overflow: hidden;
}
.projects-grid:hover img {
  width: 100%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.projects-grid img  {
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.projects-grid .hovereffect-color {
  width: 100%;
  height:100%;
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.projects-grid .hovereffect-color .overlay {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}
.start-align h3 {
    color: #fff;
    font-size: 24pt;
    font-weight: 600;
    position: relative;
    margin-bottom: 10px;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.projects-grid .hovereffect-color .overlay div{
  padding:10%;
  height: auto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  color: rgba(255,255,255,1);
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.projects-grid .hovereffect-color .overlay div p{
    position: relative;
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
.projects-grid .hovereffect-color:hover .overlay {
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.projects-grid .hovereffect-color:hover .overlay .start-align h3, .projects-grid .hovereffect-color:hover .overlay a.shin{ 
    position: relative;
    bottom: 0;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.projects-grid .hovereffect-color:hover .overlay div p{
    opacity: 1;
    margin-top: 0;
    position: relative;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
/* border animation */
.bordline {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.bordline::before {
  border: 8px solid transparent;
  width: 0;
  height: 0;
}
.bordline::after {
  border: 8px solid transparent;
  width: 0;
  height: 0;
}
.bordline::before {
  top: 0;
  left: 0;
}
.bordline::after {
  bottom: 0;
  right: 0;
}
.bordline:hover::before, .bordline:hover::after {
  width: 100%;
  height: 100%;
}
.bordline:hover::before {
  border-top-color: #eee;
  border-right-color: #eee;
  -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.3s;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out 0.3s;
}
.bordline:hover::after {
  border-bottom-color: #eee;
  border-left-color: #eee;
  -webkit-transition: border-color 0s ease-in-out 0.6s, width 0.3s ease-in-out 0.6s, height 0.3s ease-in-out 0.9s;
  transition: border-color 0s ease-in-out 0.6s, width 0.3s ease-in-out 0.6s, height 0.3s ease-in-out 0.9s;
}
/* border animation end */
.overlay div span{ display:block;}
.overlay div span.icon i{
  color:#111;
  background:#fff;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  padding:12px;
  margin:5px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  }
  .overlay div span.icon a:hover i{ 
  color:#fff;
  background:#111;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  }
  a.shin{ 
    position: relative;
    margin-top: 10px;
    overflow: hidden;
    color: #fff;
    z-index: 2;
    -moz-transition: all .9s ease;
    -ms-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all .9s ease;
    }
    a.shin.col{
        position: relative;
        display: block;
        font-size: 1.4rem;
        width: 100%;
        color: #dd4425;
        font-weight: 600;
        background: transparent;
        border: 3px solid transparent;
        margin-top: 15px;
        padding: 8px 20px;
        text-align: right;
    }
    a.shin:hover {
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    }
    a.shin.col:hover {
    background: transparent;
    border: 3px solid transparent;
    }
    a.shin.col:hover .shine{
    -webkit-animation: sheen .6s alternate;
    animation: sheen .6s alternate;
    } 
/* gallery home end */
.tagline{
    font-size: 2.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000;
    line-height: normal;
}
/* home end */

/* about */
#about{
    display: block;
}
#about p{
    font-size: 1.9rem;
    line-height: 2;
}
/* team */
#owl-team .post-share{
    margin-top: 20px;
    text-align: right;
}
/* brand */
#owl-brand .item {
  text-align: center;
}
#owl-brand img{
    width: auto;
    margin: 0 auto;
}
/* detail */
#detailproject{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 60px;
}
.stiky-detail{
    position: absolute;
    top: 0px;
    right: 10%;
    padding: 20px;
    color: rgba(255,255,255,.9);
    background: #dd4425;
    box-shadow: 0 7px 10px 2px rgba(0, 0, 0, 0.06);
    z-index: 1;
}
.stiky-detail h2 {
  font-size: 16pt;
  font-weight: 600;
  color: rgba(255,255,255,.9);
}
.detaillist{
    background: #dd4425;
    padding:30px 40px 30px 30px;
    }
.detaillist span{ 
    display:block; 
    letter-spacing:.01em; 
    line-height:24pt;
    padding: 5px 0;
    border-bottom: 1px solid #ca3f23;
}
.detaillist strong{ 
    display: inline-block;
    font-weight:500;
    width: 150px;
}
.detaillist span span{
    display: inline-block;
    margin-right: 15px;
}
.hide-detail, .show-detail{
    color: rgba(255,255,255,.9);
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    font-weight: bold;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.show-detail{
    display: none;
    padding: 0px 30px 0px 30px;
}
.hide-detail:hover, .show-detail:hover{
    color: #fff;
    text-shadow:0px 0px 7px rgba(0, 0, 0, 0.25);
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/* span post */
.spanpost {
    border-bottom: 0px;
    margin-top: 5px;
    padding-bottom:5px;
    margin-bottom: 30px;
}
.spanpost span {
    display: inline-block;
    color: #888;
}
.spanpost span.date-post {
    font-size: 13px;
    font-weight: 400;
    margin-left: 20px;
}
.spanpost span.date-post i {
    padding-right: 0px;
}
.spanpost span.user-post {
    font-size: 13px;
    font-weight: 400;
}
.spanpost span.user-post i {
    padding-right: 0px;
}
.spanpost span.comment {
    margin-left: 20px;
    font-size: 13px;
}
.spanpost span.comment a i {
    padding-right: 0px;
}
/* span post end */

/* post share */
.post-share {
    display:block;
    margin-top: 30px;
}
.post-share span {
    display: inline-block;
    margin-right: 10px;
}
.post-share .share-list {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
}
.post-share .share-list li {
    display: inline-block;
    margin: 0 8px;
}
.post-share .share-list li a {
    color: #a8a8a8;
}
.post-share .share-list li a:hover {
    color: #9facab;
}
.post-share span {
    font-size: 14px;
}
/* post share */

/* detail end */

/* gallery */
.gallery-grid {
    position: relative;
    letter-spacing: 1pt;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.gallery-grid:hover img {
    width: 100%;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.gallery-grid img {
    width: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.gallery-grid .hovereffect-color {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.gallery-grid .hovereffect-color .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -30px;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.gallery-grid:hover{
    box-shadow: 0 0 10px rgba(0,0,0, .5);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.gallery-grid .hovereffect-color:hover .overlay {
    opacity: 1;
    bottom: 0;
}
.gallery-grid .hovereffect-color .overlay div {
    padding: 10%;
    height: 100%;
    font-size: 11pt;
    font-weight: 400;
    letter-spacing: 2px;
    color: #fff;
    background-color: rgba(221, 68, 37, .8);
}
.overlay div span {
    width: 100%;
    display: block;
    z-index: 1;
}
.overlay div span.icon i {
    color: #111;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 12px;
    margin: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.overlay div span.icon a:hover i {
    color: #fff;
    background: #111;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

/* filter controls */
.filter-wraper {
  position: relative;
  margin: 0 auto;
  margin-bottom: 70px;
}
#filter-porto {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: left;
}
#filter-hide {
    padding: 0;
    margin: 0 auto;
    text-align: right;
}
#filter-hide li.filtter-icon {
    color: #777;
    font-size: 11pt;
    padding: 0;
    padding: 10px 0 0 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    list-style: none;
}
#filter-porto li.filt-projects, #filter-porto li.filt-projects-w {
    font-size: 9pt;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 4px 25px 4px 25px;
    margin: 0 10px 10px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#filter-porto li.filt-projects:hover, #filter-porto li.filt-projects-w:hover {
    border: 1px solid #ff4f2b;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#filter-porto li.selected {
    border: 1px solid #efefef;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.2s ease;
}

/* gallery max width */
#w-gallery-container {
    text-align: center;
    overflow: hidden;
}
.w-gallery-container{
    text-align: center;
}
.w-gallery:after {
    content: '';
    display: block;
    clear: both;
}
.w-gallery-image {
    width: 100%;
    display: block;
    height: auto;
}
/* Gallery end */

/*
  Owl Carousel
*/

/* owl */
.owl-carousel{
    margin-bottom: -60px;
}
.owl-prev {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 45%;
    left: 0px;
    display: block !important;
    border:0px solid black;
    background: rgba(0,0,0,.3) !important;
    -webkit-border-radius: 50px;
    border-radius: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.owl-next {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 45%;
    right: 0px;
    display: block !important;
    border:0px solid black;
    background: rgba(0,0,0,.3) !important;
    -webkit-border-radius: 50px;
    border-radius: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#owl-gal .owl-prev, #owl-gal .owl-next{
    top: 30%;
}
.owl-prev:hover, .owl-next:hover{
    color: #999;
    background: rgba(255,255,255,1) !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.owl-prev i, .owl-next i { 
     font-size: 18pt; color: #fff;
     padding-top: 3px;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
 }
 .owl-prev:hover i, .owl-next:hover i{
    color: #999;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.owl-nav {
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.owl-carousel:hover .owl-nav {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* pagination owl */
#owl-testimonial .owl-dots {
    float:right;
}
.owl-theme .owl-dots .owl-dot span {
    border-radius: 0;
}
/* owl caurosel pagination */
.owl-theme .owl-nav.disabled + .owl-dots{
    position: absolute;
    right: -20px;
    top: 0px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari 3-8 */
    transform: rotate(270deg);
}
.owl-theme .owl-dots .owl-dot span{
    width: 2px;
    height: 5px;
    border-radius: 0px;
    margin: 10px;
    background: #dd4425;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    height: 80px;
    background: #dd4425;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* owl caurosel pagination end */

/* Magnific Popup CSS */
.mfp-bg, .mfp-wrap {
    position: fixed;
    left: 0;
    top: 0
}
.mfp-bg, .mfp-container, .mfp-wrap {
    height: 100%;
    width: 100%
}
.mfp-container:before, .mfp-figure:after {
    content: ''
}
.mfp-bg {
    z-index: 10421;
    overflow: hidden;
    background: #0b0b0b;
    opacity: .8;
    filter: alpha(opacity=80)
}
.mfp-wrap {
    z-index: 10431;
    outline: 0!important;
    -webkit-backface-visibility: hidden
}
.mfp-container {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.mfp-container:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle
}
.mfp-align-top .mfp-container:before {
    display: none
}
.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 10451
}
.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
    width: 100%;
    cursor: auto
}
.mfp-ajax-cur {
    cursor: progress
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out
}
.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in
}
.mfp-auto-cursor .mfp-content {
    cursor: auto
}
.mfp-arrow, .mfp-close, .mfp-counter, .mfp-preloader {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}
.mfp-loading.mfp-figure {
    display: none
}
.mfp-hide {
    display: none!important
}
.mfp-preloader {
    color: #ccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -.8em;
    left: 8px;
    right: 8px;
    z-index: 10441
}
.mfp-preloader a {
    color: #ccc
}
.mfp-close, .mfp-preloader a:hover {
    color: #efefef
}
.mfp-s-error .mfp-content, .mfp-s-ready .mfp-preloader {
    display: none
}
button.mfp-arrow, button.mfp-close {
    overflow: visible;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: 0;
    padding: 0;
    z-index: 10461;
    -webkit-box-shadow: none;
    box-shadow: none
}
.mfp-figure:after, .mfp-iframe-scaler iframe {
    box-shadow: 0 0 8px rgba(23, 36, 52, .6);
    position: absolute;
    left: 0
}
button::-moz-focus-inner {
    padding: 0;
    border: 0
}
.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: .65;
    padding: 0 0 18px 10px;
    font-style: normal;
    font-size: 38px;
    font-family: Arial, Baskerville, monospace;
}
.mfp-close:focus, .mfp-close:hover {
    opacity: 1;
}
.mfp-close:active {
    top: 1px
}
.mfp-close-btn-in .mfp-close {
    color: #efefef
}
.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
    color: #efefef;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%
}
.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #efefef;
    font-size: 12px;
    line-height: 18px
}
.mfp-figure, img.mfp-img {
    line-height: 0
}
.mfp-arrow {
    position: absolute;
    opacity: .65;
    margin: -55px 0 0;
    top: 50%;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent
}
.mfp-arrow:active {
    margin-top: -54px
}
.mfp-arrow:focus, .mfp-arrow:hover {
    opacity: 1
}
.mfp-arrow .mfp-a, .mfp-arrow .mfp-b, .mfp-arrow:after, .mfp-arrow:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: inset transparent
}
.mfp-arrow .mfp-a, .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px
}
.mfp-arrow .mfp-b, .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px
}
.mfp-arrow-left {
    left: 0
}
.mfp-arrow-left .mfp-a, .mfp-arrow-left:after {
    border-right: 17px solid #efefef;
    margin-left: 31px
}
.mfp-arrow-left .mfp-b, .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f
}
.mfp-arrow-right {
    right: 0
}
.mfp-arrow-right .mfp-a, .mfp-arrow-right:after {
    border-left: 17px solid #efefef;
    margin-left: 39px
}
.mfp-arrow-right .mfp-b, .mfp-arrow-right:before {
    border-left: 27px solid #3f3f3f
}
.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px
}
.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px
}
.mfp-image-holder .mfp-content, img.mfp-img {
    max-width: 100%
}
.mfp-iframe-holder .mfp-close {
    top: -40px
}
.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%
}
.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}
.mfp-figure:after, img.mfp-img {
    width: auto;
    height: auto;
    display: block
}
img.mfp-img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0;
    margin: 0 auto
}
.mfp-figure:after {
    top: 40px;
    bottom: 40px;
    right: 0;
    z-index: -1;
    background: #444
}
.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px
}
.mfp-figure figure {
    margin: 0
}
.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto
}
.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px
}
.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer
}
@media screen and (max-width:800px) and (orientation:landscape), screen and (max-height:300px) {
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0
    }
    .mfp-img-mobile img.mfp-img {
        padding: 0
    }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0
    }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px
    }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(23, 36, 52, .6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0
    }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px
    }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(23, 36, 52, .6);
        position: fixed;
        text-align: center;
        padding: 0
    }
}
@media all and (max-width:900px) {
    .mfp-arrow {
        -webkit-transform: scale(.75);
        transform: scale(.75)
    }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0
    }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%
    }
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px
    }
}
.mfp-ie7 .mfp-img {
    padding: 0
}
.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px
}
.mfp-ie7 .mfp-container {
    padding: 0
}
.mfp-ie7 .mfp-content {
    padding-top: 44px
}
.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0;
}
.image-source-link {
    color: #98C3D1
}
.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: .8
}
.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0
}
/* end Magnific Popup CSS */

/* map */
#map-1 {
  width: 100%;
  height: 500px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* contact */
.wrapaddres {
  background: #fff;
  height: 400px;
  padding: 25px 20px 25px 40px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
}
address span {
  display: block;
  border-bottom: solid 1px rgba(255, 255, 255, 0);
  padding-bottom: 5px;
  margin-bottom: 5px;
  line-height: 26pt;
  font-weight: 400!important;
}
address span strong {
  font-weight: 500!important;
  display: inline-block;
  width: 60px;
}
address span a {
  color: #eceff3;
  display: inline;
}

address.cont-1 span {
  display: block;
  border-bottom: solid 1px #ebebeb;
  padding-bottom: 5px;
  margin-bottom: 5px;
  line-height: 30pt;
  font-weight: 400!important;
}
address.cont-1 span strong {
  font-weight: 400!important;
  display: inline-block;
  width: 60px;
}
address.cont-1 span a {
  color: #666;
  display: inline;
}

.heading-cont{
    font-size: 16pt;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom:15px;
    padding-bottom:15px;
    border-bottom:2px solid #ebebeb;
}
#name-contact-1, #firstname, #lastname, #companyname, #zipcode, #city, #emailcom, #phonecom{border: 2px solid #f1f1f1; color: #969595;}
.form-group {
    margin-bottom: 20px;
    }
.form-control {
    width:100% !important;
    height: 53px !important;
    padding: 4px 20px 6px 35px;
    font-size: 13px;
    line-height: 24px;
    color: #969595;
    background:#fff !important;
    border: 2px solid #f1f1f1;
    border-radius: 0;
    box-shadow: none;
    }
.form-control:focus {
    border: 2px solid #dbdbdb  !important;
    box-shadow: none;
    }
    
.user-message textarea {
    min-height: 195px;
    padding-top: 12px;
    }
.contact-form form button {
    margin-top: 10px;
    }


.user-name,
.user-email,
.user-phone,
.user-url,
.user-message{
    position: relative;
    }
.user-name::after,
.user-email::after,
.user-phone::after,
.user-url::after,
.user-message::after {
    position: absolute;
    left: 15px;
    top: 10px;
    font-family: "FontAwesome";
    color: #dadada;
    }

.user-name::after {
    content: "\f007";
    }
.user-email::after {
    content: "\f003";
    }
.user-phone::after {
    content: "\f095";
    }
.user-url::after {
    content: "\f0ac";
    }
.user-message::after {
    content: "\f086";
    }

.btn-contact, a.btn {
    width: 190px;
    height: 46px;
    font-size:10pt;
    font-weight:400;
    letter-spacing:1pt;
    font-style:normal;
    text-align:center;
    line-height: 41px;
    color:#fff;
    border:2px solid rgba(0,0,0,0);
    background:#dd4425;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    text-shadow:none;
    margin: 30px auto;
    margin-left:0px;
    padding: 0;
    cursor:pointer;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-contact:hover, a.btn:hover{ 
color:#fff;
background:#999;
}
.btn{
    display: block;
}
.error {
  width: 100%;
  display: none;
  padding: 2px 10px 2px 10px;
  font-size: 11px;
  margin: 10px auto;
}
.success {
  width: 100%;
  display: none;
  padding: 5px 0px 2px 0px;
  font-size: 11px;
  margin: 10px auto;
}
/* contact end */


/* footer */
.footer {
    color: #000;
    padding-top: 35px;
}
.footer-widget .widget {
  margin-bottom: 0;
  padding-top: 30px;
}
.footer-widget .widget:first-child {
  padding-top: 0;
}
.footer-widget .widget_nav_menu {
  text-align: center;
}
.footer-widget .widget-title {
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 1.5384615384615385em;
  position: relative;
  padding-bottom: 0.8em;
  text-align: center;
}
.footer-widget .widget-title.align-left {
  text-align: left;
}
.footer-widget .widget-title:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: #666666;
  bottom: 0;
}
.footer-widget .widget-title.align-left:before {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  left: 0;
}
ul.list-menu{
    padding-left: 0px;
}
ul.list-menu li a.active{
    color: #dd4425!important;
}
.footer-widget li {
  border-bottom: none;
  padding-left: 0;
  padding-bottom: 0.7692307692307693em;
  position: relative;
}
.footer-widget li .post-date {
  display: block;
  font-size: 85%;
  color: rgba(135, 135, 135, 0.7);
}
.footer-widget li:last-child {
  border: none;
}
.footer-widget .social-widget-wrap i {
  color: #ffffff;
}
.footer-widget .social-widget-wrap i:hover {
  color: inherit;
}
.footer-widget .social-widget-wrap i {
  border: none !important;
  margin-right: 30px;
  width: auto;
}
.footer-widget .social-widget-wrap a:hover i {
  color: #666666 !important;
}
.footer-widget a {
  color: #878787;
  font-weight: 400;
}
.footer-widget a:hover {
  color: #666666;
}
@media (min-width: 992px) {
  .footer-widget .footer-widget-col {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 80px;
    padding-bottom: 80px;
    display: table-cell;
    float: none;
  }
  .footer-widget .footer-widget-col:last-child,
  .footer-widget .footer-widget-col.no-border {
    border: none;
  }
  .footer-widget .footer-widget-col.ver-top {
    vertical-align: top;
  }
}
.footer-widgets {
    margin-bottom: 30px;
}
.newsletter-box {
    float: right;
    margin-top: 10px;
}
.newsletter-submit {
  font-family: FontAwesome;
}
.newsletter-box input.newsletter-input {
    height: 46px;
    width: 360px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -5px;
    background: #f6f6f6;
    border: none;
    box-shadow: none;
    outline: none;
}
.newsletter-box input.newsletter-submit {
    background: #0000ff;
    height: 46px;
    color: #fff;
    margin-left: 0;
}
.footer-widgets li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
    letter-spacing: 1px;
}
.social-icons a {
    margin-left: 30px;
    font-size: 15px;
}
.social-icons a:first-child{
    margin-left: 0px;
}
.bottom-footer {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #eee;
}
@media (min-width: 992px) {
  .footer .footer-contact .row {
    display: table;
    width: 100%;
  }
  .footer .footer-contact .col-sm-4 {
    display: table-cell;
    float: none;
  }
}
.footer .footer-contact-item {
  padding: 36px;
  text-align: center;
}
.footer .footer-contact-item .footer-contact-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #666666;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 15px;
}
.footer-links a {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    letter-spacing: 3px;
    font-size: 10px;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* form search */
.search-container{
    position: relative;
}
.s-input-home{
    color: #a4b0b8;
    background: #fbfbfb;
    width: 100%;
    height: 46px;
    padding: 0 20px;
    border-radius: 23px;
    border: 1px solid #eee;
}
.btn-s-input{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 56px;
    height: 46px;
    color: #fff;
    background: #dd4425;
    border: 0px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-s-input:hover{
    background: #999;
    border: 0px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.copyright span {
    font-size: 12px;
}
.footer-links .logo {
    margin-bottom: 20px;
    height: 14px;
}
.footer a {
  color: #000;
}
.footer a:hover {
  color: #666666;
}
.footer .footer-info {
  color: #878787;
  padding: 40px 0;
  position: relative;
}
.footer .footer-info a {
  color: #878787;
}
.footer .footer-info a:hover {
  color: #666666;
}
.copyright,
.footer-info-logo {
  margin-bottom: 0.7692307692307693em;
}
.footer-social a {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  font-size: 1.5em;
  margin: 0 5px;
}
.footer-social a i:hover {
  background: none !important;
  color: #666666 !important;
}
.social-icons {
    text-align: right;
}
/* footer end */


/* totop */
#totop {
    width: 35px;
    height: 35px;
    color: #fff;
    background: #dd4425;
    line-height: 32px;
    position: fixed;
    right: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 99999;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
    border-radius: 4%;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#totop.init {
    bottom: -100px;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#totop.show {
    bottom: 10px;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#totop:hover {
    background: #999;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#totop span {
    font-size: 9pt;
    font-weight: 300;
    color: #fff;
}
/* totop end */
/* Bootstrap modal */
.modal{
    z-index: 99999;
}
.modal label{
    font-weight: 500;
}
.modal-login {
        color: #636363;
        max-width: 400px;
    }
    .modal-login .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }
    .modal-login .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
    }
    .modal-login h4 {
        text-align: center;
        font-size: 2.1rem;
        font-weight: 500;
        color: #272727 !important;
    }
    .modal-login  .form-group {
        position: relative;
    }
    .modal-login i {
        position: absolute;
        left: 13px;
        top: 11px;
        font-size: 18px;
        color: #ddd;
    }
    .modal-login .form-control {
        padding-left: 10px;
    }
    .modal-login .form-control:focus {
        border-color: #00ce81;
    }
    .modal-login .form-control, .modal-login .btn {
        max-height: 45px;
        padding-right: 10px;
    }
    .modal-login .hint-text {
        text-align: center;
        padding-top: 10px;
    }
    .modal-login .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }
    .modal-login .btn {
        font-size: 11pt;
        letter-spacing: 1px;
        background: #dd4425;
        border: none;
        border-radius: 0px;
        line-height: normal;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .modal-login .btn:hover, .modal-login .btn:focus {
        background: #ddd;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .modal-login .modal-footer {
        background: #ecf0f1;
        border-color: #dee4e7;
        text-align: center;
        margin: 0 -20px -20px;
        border-radius: 5px;
        font-size: 13px;
        justify-content: center;
    }
    .modal-login .modal-footer a {
        color: #999;
    }
    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
    .modal-dialog{
        margin: 30px auto;
    }
    /* Bootstrap modal end */

/* Blog */
.blog-simple .blog-text {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding: 15px 15px 15px 0px; 
  float: right;
  letter-spacing:.3px;
}
.blog-simple blockquote{ 
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.6em;
  color: #333;
  background: #f8f8f8;
  padding: 30px;
  margin: 30px 0 30px 0;
  border-left: 5px solid #dd4425;
 }
.blog-simple .blog-text .heading { margin-top:15px;}
.blog-simple .blog-text h3 a{ font-weight:500;}
.blog-simple .blog-text span {
  display: inline-block;
  margin-bottom: 20px;
}
.blog-simple .blog-text span.date-post {
  font-style: italic;
  font-size: 13px;
  font-weight:400;
  margin-left:20px;
}
.blog-simple .blog-text span.date-post i {
  padding-right: 7px;
  
}
.blog-simple .blog-text span.user-post {
  font-size: 13px;
  font-weight:400;
}
.blog-simple .blog-text span.user-post i {
  padding-right: 7px;
  
}
.blog-simple .blog-text span.comment {
  margin-left:20px;
  font-size: 13px;
}
.blog-simple .blog-text span.comment a i {
  padding-right: 7px;
  
}
.blog-simple .blog-text h3 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.5;
}
.blog-simple .blog-text a {
  margin-top:20px;
  margin-bottom: 20px;
}
ul.pagination li a{  font-size:9.5pt; color:#333; margin-right:5px; padding-left:30px;}
ul.pagination li a:hover{ color:#fff; background:#dd4425; }


/* post meta */
.post-meta {
  background: #fcfcfc;
  border-top: none;
  text-align: center;
}
.post-meta .format {
  border-bottom: 1px solid #333333;
  padding: 10px 0 10px;
}
.post-meta i {
  margin: 0;
}
.post-meta .date {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0 10px;
}
.post-meta .date span {
  text-align: center;
  color: #efefef;
  font-size: 12px;
  font-weight: 500;
}
.post-meta .comments {
  padding: 10px 0 10px;
}
.post-meta .comments a {
  color: #efefef;
  font-size: 10px;
  font-weight: 500;
}
.post-meta .comments a:hover {
  text-decoration: none;
}

/* post format */
.post-image {
  margin-bottom: 20px;
}
ul.meta-post {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.meta-post li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
}
ul.meta-post li a {
  float: left;
  font-size: 11pt;
  font-weight: 500;
  padding-top:20px;
}

/* single post */
.top-article {
    display:block;
    margin-top: 30px;
}
.bottom-article {
  overflow: hidden;
  padding: 10px 0 10px 0;
  margin-top: 10px;
  margin-bottom: 30px;
}
.bottom-article a.btn {
display: inline-block;
width:auto;
height: 40px;
font-size:10pt;
font-weight:600;
letter-spacing:1pt;
font-style:normal;
text-align:center;
line-height:38px;
color:#fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
outline: none;
text-shadow:none;
margin: 5px auto;
margin-left:0px;
padding: 0 30px 0 30px;
cursor:pointer;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease; 
}
.bottom-article a.btn:hover{
    color:#999;
    background:#efefef;
}

/*  Aside, sidebar */
aside {
  position: relative;
  margin-bottom: 40px;
}
.sidebar-nav {
  float: left;
  width: 100%;
}
.right-sidebar {
  margin: 0 auto;
}
.left-sidebar {
  padding: 0 30px 0 0;
}
.left-sidebar .widget h3, .left-sidebar .widget .widget-content {
  padding-right: 20px;
}
aside .widget, .widget {
  margin-bottom: 40px;
}
.widget .form-control {
    width:100% !important;
    height:auto !important;
    padding: 7px 10px 7px 10px !important;
    font-size: 13px;
    line-height: 24px;
    color: #969595;
    background:#fff !important;
    border: 1px solid #dd4425!important;
    border-radius: 0;
    box-shadow: none;
    }
.widget .form-control:focus {
    border: 1px solid #efefef !important;
    box-shadow: none;
    }
.widget .recent div {
    width: 100%;
    display: inline-block;
    padding-bottom: 25px;
}
.widget .recent div img {
    float: left;
    margin-right: 20px;
    width: 65px;
    height: 65px;
    object-fit: cover;
}
.widget .recent div h6 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px
}
.widget .recent div p {
    line-height: 20px;
    color: #aaa;
}
.widget .tags {
  margin: 0;
  margin-left: 0;
  padding-left: 0;
}
.widget .tags div {
  margin: 5px 5px 15px 0;
  display: inline-block;
}
.widget .tags div a {
  font-size: 13px;
  border: 1px solid #efefef;
  padding: 5px 10px;
  text-align: center;
}
.widget .tags div a:hover {
  text-decoration: none;
  border: 1px solid #dd4425;
}
.devider-widget {
  display: block;
  border-bottom: 2px solid #dd4425;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 60px;
  text-align: left;
}

.input-group input[type="text"], .input-group input[type="text"]{
    font-size:9pt;
    letter-spacing:.9px;
    font-weight:400;
}
.input-group input[type="text"]:focus, .input-group input[type="text"].focus{
  color:#111;
}
.input-group span.icon{
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0; 
    margin-left:0px; 
    font-size:14px;
    font-weight:400;
    line-height:2;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle; 
     
    color:#fff;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.input-group-btn button span.icon{
    background: #333;
}
.input-group-btn button:hover span.icon{
    background: #dd4425;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    }
/* Blog end */

/* Blog comment */
#blog-comment {
    margin: 60px 0;
    padding: 0px;
}
#blog-comment h5 {
    font-size: 14px;
    color:#000;
    font-weight: 600;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
#blog-comment > ul, #blog-comment > li {
    list-style: none;
    padding-left: 0;
}
#blog-comment ul.children > ul {
    list-style: none;
}
#blog-comment li .avatar {
    position: absolute;
}
#blog-comment .comment {
    font-size: 13px;
    margin-left: 85px;
}
#blog-comment li {
    font-size: 14px;
    line-height: 1.6em;
    padding-bottom: 0px;
}
#blog-comment li > li {
    margin-left: 0px;
    padding-bottom: 0px;
    margin-top: 20px;
    padding-top: 10px;
    border-bottom: none;
}
#blog-comment li li .avatar {
    position: absolute;
}
#blog-comment ul.children {
    margin-left: 70px;
}
#blog-comment .pingback-entry {
    margin-bottom: 20px;
}

#blog-comment p.no-comments {
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 5px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-style: italic;
    border: 1px solid #faebcc;
}
#blog-comment > ul ul {
    list-style: none;
    margin-top: 10px;
}
.comment-info {
    margin-left: 85px;
    margin-bottom: 5px;
    background: #fafafa;
    padding: 20px 30px;
}
.comment-info .c-name {
    font-size: 1.4rem;
    font-weight: 700;
    color:#666;
}
.comment-info .c-reply {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
.comment-info .c-reply a {
    font-size: 12px;
    padding: 1px 20px 2px 15px;
    border: 2px solid #efefef;
    width: 100px;
    text-align: center;
    font-weight: 300;
}
.comment-info .c-reply a:hover{
    border: 2px solid #ccc;
    color: #ccc;
}
.comment-info .c-reply a::before {
    content: "\f112";
    margin-right: 5px;
    font-family: fontawesome;
    font-size: 9px;
    color: #ddd;
}
.comment-info .c-date {
    display: inline;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    float: right;
    color: #6F6F6F;
    font-weight: 400;
}
.comment-info .c-date i {
    padding-right: 0px;
}
.comment-content.entry.clr p {
    font-size: 1.358rem;
    margin: 15px 0;
    letter-spacing: .3px;
    color: #757575;
}
/* comment form */
.comment-respond {
    margin-top: 10px;
    padding: 10px 30px;
    background: #f9f9f9;
    border: 1px solid #f6f6f6;
}
#comment-form-wrapper h6 {
    font-size: 11pt;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
#comment-form-wrapper {
    margin: 50px 0 50px 0;
    padding: 0px;
}
#commentform input {
    width: 100%;
    font-size: 13px;
    padding: 10px;
    margin: 5px 0 0px 0;
    height: 40px;
    letter-spacing: 0px;
    color: #969595;
    border: 2px solid #f1f1f1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.2s ease;
}
#commentform input:focus {
    color: #606060;
    background: rgba(0, 0, 0, 0);
}
#commentform textarea {
    width: 100%;
    font-size: 13px;
    padding: 10px;
    margin: 5px 0 0px 0;
    height: 150px;
    color: #969595;
    background: #fff !important;
    border: 2px solid #f1f1f1;
}
#commentform textarea:focus {
    color: #606060;
    background: rgba(0, 0, 0, 0);
}
#commentform button.btn, #commentform input[type="submit"] {
    width: 160px;
    height: 40px;
    font-size: 9pt;
    font-weight: 400;
    letter-spacing: 1pt;
    font-style: normal;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border: 0px solid rgba(0, 0, 0, 0);
    background: #dd4425;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    text-shadow: none;
    margin: 15px auto;
    margin-left: 0px;
    padding: 0;
    cursor: pointer;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#commentform button.btn:hover, #commentform input[type="submit"]:hover {
    background: #999;
}
#cancel-comment-reply-link {
    color: red;
}
.comment-reply-title {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.3333;
    letter-spacing: 0;
    color: #000;
}
select.form-control, select.form-control:hover, select.form-control:focus, input[type="text"].form-control, input[type="text"].form-control:hover, input[type="text"].form-control:focus {
  background: #fbfbfb;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0);
  outline: 0 none;
}
/* Blog comment end */

/* accordion */
.acorconcreate .panel-default > .panel-heading, .acorconcreate .panel-body{
    background: rgba(0,0,0,0);
    padding: 30px;
}
.acorconcreate .panel-title{
    font-size: 2.345rem;
    font-weight: 600;
}
/***** black *****/
body.black, body.black header, body.black .white nav ul ul li, body.black .whitepage {
    color: #fff;
    background: #272727 !important;
}
body.black .preloader, body.black .bg-preloader-white, body.black .bg-preloader-white-bot, body.black  .prtf-outline{
    background: #272727;
}
body.black .white nav ul ul li a:hover{
    background: #333 ;
}
body.black .navbar-default-white, body.black .subnav{
    color: #fff;
    background: #272727 !important;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
body.black .bottom-footer{
    border-top: 1px solid rgba(255, 255, 255, .1);
}
body.black #sub-icon{
    border-right: 1px solid rgba(255, 255, 255, .1);
}
body.black .btn-s-input{
    right:-4px;
}
body.black .h1, body.black .h2, body.black .h3, body.black .h4, body.black .h5, body.black .h6, body.black h1, 
body.black h2, body.black h3, body.black h4, body.black h5, body.black h6, body.black .social-icons-subnav span, 
body.black .social-icons-subnav i, body.black .white nav a, body.black .year .heading, body.black .year .subheading,
body.black .tagline,body.black .footer, body.black .footer a {
    color: #fff;
}
body.black section.dot{
    background-image: url(../img/dotblack.png);
}
body.black #imghome::before{
    background: url(../img/dot-black.png);
}

/* scroll onStep */
.onStep {
    opacity: 0;
}
.thumnail-img{
    background-size: cover;
    background-position: center;
    display: block;
    min-height: 256px;
}
.product-item{
    border: 1px solid #ccc;
    border-radius: 0.7rem;
    padding:0;
    margin-bottom:20px;
    overflow: hidden;
}
.details-btn i{
    transition: all 0.3s;
}
.details-btn:hover i{
    margin-left:10px;
}