@media only screen and (max-width: 1190px) {

}

@media only screen and (max-width: 1199px) {
  .m-5-hor{ 
    margin-left:0; 
    margin-right:0;
  }	
  .m-5-hor-dev {
    margin-left: 5%;
    margin-right: 5%;
  }
  .navbar-brand.white img.black { display:block !important; }
  .navbar-brand.white img.white { display:none; }
  .subnav {
  z-index:99999;
  position: relative;
  }
  header.init{
    position: relative;
    background: rgba(255, 255, 255, 0)!important;
  }
  header.show{
	background: rgba(255, 255, 255, 0)!important;
  }
  nav ul li.space {
    display: none;
  }
  .overlay-main {
    top: 0px;
  }
  .navbar-toggle {
    display: block;
    z-index: 9999;
    margin-top: 28px;
    margin-right: 5px;
    margin-bottom: 0px;
  }
  .navbar-toggle:hover {
    border: 1px solid #999;
  }
  
.navbar-default-white .navbar-toggle {
  border-color: transparent; /* Removes border color */
  float: right; /* Move navbar toggle to left */
}
.navbar-default-white .navbar-toggle .icon-bar {
  background-color: #000; /* Changes regular toggle color */
}
body.black .navbar-default-white .navbar-toggle .icon-bar{
  background: #fff !important;
}
.navbar-default-white .navbar-toggle .icon-bar:hover {
  background-color: #999; /* Changes toggle color on hover */
}
  /* menu block white */
  .navbar-default-white {
	position: relative;
	margin: 0px auto;
  border-bottom: 0px groove rgba(255, 255, 255, 0);
  top: 0px;
  }
  .navbar-default-white {
  transform: translateZ(0); /* Scroll Fix in iPad */
  }

  .navbar-brand.white img {
  width: auto;
	height: auto;
	max-height:40px!important;
  }

  #main-menu.white {
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 1;
    text-align: center;
    overflow: auto;
    overflow-x: hidden;
  }
  body.black #main-menu.white{
    background: #272727 !important;
  }
  .menu-init {
    display: none;
  }
  .white nav {
    margin: 0 auto;
    margin:60px 0;
    position: relative;
    float: none;
    left: 20px;
    top: 0px;
    z-index: 999;
  }
  .white nav ul li, .white nav ul li.btn {
    display: block;
    margin: 0 0 0 0;
    margin-right: 15px;
    text-align: left;
    background: rgba(0, 0, 0, 0);
  }
  .white nav ul li:hover>ul {
    display: none;
  }
 .white nav a {
    display: inline-block;
    padding: 10px;
    line-height: 30px;
    position:relative;
    width:100%;
  }
 .white nav ul ul {
    display: none;
    position: relative;
    top: 0px;
    margin-left: 15px;
  }
 .white nav ul ul li {
    background: rgba(21, 23, 29, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
 .white nav ul ul ul li {
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
 .white nav ul ul li a {
    width: 100%;
    line-height: 20px;
    font-weight: 400;
    font-size: 8pt;
  }
  .white nav ul li .input-group {
  margin-left:0px;
  margin-right:30px;
  }
  /*menu block white end*/
}
@media only screen and (max-width: 990px) {
 #imghome{
  margin-top: 60px;
 }
 .search-container{
  margin-top: 30px;
 }
 .acorconcreate{
    margin-top: 60px;
  }
}
@media only screen and (max-width: 800px) {
  .stiky-detail{
    position: relative;
    right: 0;
    left: 0;
    margin: -40px 0 30px 0;
  }
 
}
@media only screen and (max-width: 768px) {
  .social-icons {
    text-align: left;
  }
}
@media only screen and (max-width: 600px) {
	.p-90{ padding:30px 0;}
  #filter-porto li.filt-projects, #filter-porto li.filt-projects-w{
    display: block;
    text-align: center;
  }
}
@media(max-width:414px) {
  section {
    padding: 90px 0 90px 0;
  }
  .navbar-default {
    border-bottom: 1px groove rgba(255, 255, 255, 0);
  }
  .navbar-brand {
    left: 5px;
  }
  .navbar-brand.white {
    left: 5px;
  }
  .p-30{ padding:10px;}
  .p-60{ padding:20px;}
  .p-90{ padding:30px 0;}
  
  .pro-btn { font-size:9pt; }
  .pro-btn.left a i{ font-size:10pt;  padding-right:10px; }
  .pro-btn.right a i{ font-size:10pt; padding-left:10px; }

  .footer-widgets li{
    margin-right: 10px;
  }
  .footer-links li a{
    letter-spacing: 1.5px;
  }
  a.shin.col {
    font-size: 1rem;
    border:none;
  }
  a.shin.col:hover{
    border: none;
  }
  .tagline{
    font-size: 2.2rem;
  }
  .headingcontent{
    font-size: 3.8rem;
  }
  .gal-home h3, .gal-home h4 {
    font-size: 2rem;
  }
  .detaillist {
    padding: 20px 20px 30px 20px;
  }
  .hide-detail, .show-detail {
    padding: 10px 20px 10px 20px;
  }
  .detaillist strong{
    width: 80px;
    font-size: 13px;
  }
  .detaillist span{
    font-size: 13px;
  }
  #form-contact1 {
    margin-bottom: 60px;
  }
}
@media(max-width:360px) {


}
@media(max-width:320px) {

}