﻿@using ArayanBulur.Resources
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <title>ArayanBulur | Aradığın Her Şey Burda</title>
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="" name="keywords">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link href="~/tf/concreate/css/bootstrap.min.css" rel="stylesheet">
    <!-- font themify CSS -->
    <link rel="stylesheet" href="~/tf/concreate/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link href="~/tf/concreate/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- date picker CSS -->
    <link href="~/tf/concreate/css/datepicker.min.css" rel="stylesheet">
    <!-- revolution slider css -->
    <link rel="stylesheet" href="~/tf/concreate/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" href="~/tf/concreate/css/rev-settings.css" type="text/css">
    <!-- on3step CSS -->
    <link href="~/tf/concreate/css/animated-on3step.css" rel="stylesheet">
    <link href="~/tf/concreate/css/owl.carousel.css" rel="stylesheet">
    <link href="~/tf/concreate/css/owl.theme.css" rel="stylesheet">
    <link href="~/tf/concreate/css/on3step-style.css" rel="stylesheet">
    <link href="~/tf/concreate/css/queries-on3step.css" media="all" rel="stylesheet">
</head>
<body>
    <!-- preloader -->
    <div class="bg-preloader-white"></div>
    <div class="bg-preloader-white-bot"></div>
    <div class="preloader">
        <div class="prtf-st-loader1">
            <div class="prtf-outline">
                <div class="prtf-line-1"></div>
                <div class="prtf-line-2"></div>
                <div class="prtf-line-3"></div>
                <div class="prtf-line-4"></div>
            </div>
        </div>
    </div>
    <!-- preloader end -->
    <!-- content wraper -->
    <div class="content-wrapper">

        <header class="init">

            <!-- subnav -->
            <div class="container-fluid m-5-hor">
                <div class="row">

                    <div class="col-md-12">
                        <div class="subnav">

                            <div class="left">
                                <div class="social-icons-subnav hidden-xs">
                                    <div>@CeilraResource.CallUs : +90512345678</div>
                                </div>
                                <div class="social-icons-subnav hidden-xs">
                                    <div>|</div>
                                </div>
                                <div class="social-icons-subnav hidden-xs">
                                    <div> @Html.ActionLink("TR", "Change", "Language", new { LanguageAbbrevation = "tr" , returnurl = this.Request.RawUrl }, null)</div>
                                </div>
                                <div class="social-icons-subnav hidden-xs">
                                    <div>@Html.ActionLink("EN", "Change", "Language", new { LanguageAbbrevation = "en", returnurl = this.Request.RawUrl }, null)</div>
                                </div>
                            </div>

                            <div class="right">

                                @Html.Partial("_LoginPartial")
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- subnav end -->
            <!-- nav -->
            <div class="navbar-default-white navbar-fixed-top">
                <div class="container-fluid m-5-hor">
                    <div class="row">


                        <!-- logo -->
                        <a class="navbar-brand white" href="#">
                            <img alt="logo" src="~/tf/concreate/img/logo1.png">
                        </a>
                        <!-- logo end -->
                        <!-- menu mobile display -->
                        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                            <span class="icon icon-bar"></span>
                            <span class="icon icon-bar"></span>
                            <span class="icon icon-bar"></span>
                        </button>
                        <!-- menu mobile display end -->
                        <!-- mainmenu start -->
                        <div class="white menu-init" id="main-menu">
                            <nav id="menu-center">
                                <ul>
                                    <li>
                                        @Html.ActionLink(CeilraResource.Home, "Index", "Home")
                                        <span class="hidden-lg span-drop"></span>
                                        <ul></ul>
                                    </li>

                                    <li>
                                        @Html.ActionLink(CeilraResource.About, "About", "Home")

                                        <span class="hidden-lg span-drop"></span>


                                    </li>

                                        @if (Request.IsAuthenticated)
                                        {

                                            if (User.IsInRole("Admin"))
                                            {
                                                <li>@Html.ActionLink(CeilraResource.Admin, "Index", "Admin")</li>
                                            }
                                            else
                                            {

                                            @* <li>@Html.ActionLink(CeilraResource.User, "Index", "Admin")</li>*@
                                            }

                                        }

                                        <li>
                                        <a href="#">
                                            @CeilraResource.Catagoreis
                                            <span class="hidden-lg span-drop"></span>
                                        </a>
                                        <ul>
                                            <li>@Html.ActionLink(CeilraResource.RealEstate, "Gayrimenkul", "Home")</li>
                                            <li>@Html.ActionLink(CeilraResource.Car, "Araba", "Home")</li>
                                            <li>@Html.ActionLink(CeilraResource.Yacht, "Yat", "Home")</li>
                                            <li>@Html.ActionLink(CeilraResource.Computer, "Bilgisayar", "Home")</li>
                                            <li>@Html.ActionLink(CeilraResource.Phone, "Telefon", "Home")</li>
                                        </ul>
                                    </li>
                                </ul>
                                </nav>
                            </div>
                            <!-- mainmenu end -->

                        </div>
                    </div>
                    <!-- container -->
                </div>
                <!-- nav end -->
            </header>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="footer">
                <div class="container-fluid m-5-hor">
                    <div class="footer-widgets">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="widget footer-links">
                                    <ul class="list-menu">
                                        <li>
                                            <ul>
                                                <li> @Html.ActionLink("Türkçe", "Change", "Language", new { LanguageAbbrevation = "tr", returnurl = this.Request.RawUrl }, null)  </li>
                                                <li> @Html.ActionLink("İnglizce", "Change", "Language", new { LanguageAbbrevation = "en", returnurl = this.Request.RawUrl }, null)  </li>
                                                

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="search-container text-right">
                                    <form action="#">
                                        <input class="s-input-home" type="text" placeholder=@CeilraResource.Search name="search">
                                        <button class="btn-s-input" type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- end container -->
                <div class="container-fluid m-5-hor">
                    <div class="bottom-footer">
                        <div class="row">
                            <div class="col-sm-6 copyright">
                                <span>@CeilraResource.Footer</span>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end bottom footer -->
            </footer>
            <!-- footer end -->
            <div id="totop" class="init">
                &uarr;
            </div>
            >

        </div>
        <!-- plugin JS -->
        <script src="~/tf/concreate/plugin/pluginson3step.js"></script>
        <script src="~/tf/concreate/plugin/bootstrap.min.js"></script>
        <script src='~/tf/concreate/plugin/bootstrap-datepicker.min.js'></script>
        <script src="~/tf/concreate/plugin/sticky.js"></script>
        <!-- slider revolution  -->
        <script src="~/tf/concreate/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="~/tf/concreate/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <!-- on3step JS -->
        <script src="~/tf/concreate/js/on3step.js"></script>
        <script src="~/tf/concreate/js/plugin-set.js"></script>
        @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>*@
    </body>
</html>
