﻿@using ArayanBulur.Resources
@{
    ViewBag.Title = CeilraResource.About;
}

<!-- section img about -->
<section aria-label="subheader" class="no-top no-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="gal-home">
                <div class="hovereffect">
                    <a class="big-img-1" href="img\img-about.jpeg">
                        <img alt="imageportofolio" class="img-responsive" src="~/tf/concreate/img/img-about.jpeg">
                    </a>
                  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section img about end -->
<!-- section about -->
<section aria-label="Detail" id="about">
    <div class="container-fluid m-5-hor">
        <div class="row">

            <!-- heading text -->
            <div class="col-md-4">
                <h1 class="heading no-top">
                    @CeilraResource.About
                </h1>
                <h2 class="no-top">
                    Satmak Bizle Daha Kolay <br> Hala Bize Katılmadınız Mı?
                </h2>

            </div>
            <!-- heading text end -->

            <div class="col-md-8">
                <p>
                    ArayanBulur, gayrimenkul, vasıta, teknoloji ürünleri ve hizmetler gibi birçok kategoride ilan ve e-ticaret işlemlerinin yapıldığı online bir platformdur.2019 yılında 3 üniversiteli genç tarafından kurulmuştur. Üyelik ve ilan listelemek ücretsizdir.
                </p>

                <p class="content">
                    Merkezi İstanbulda bulunmaktadır.İnternet üzerinden satıcılara görsel unsurlar da içeren detaylı ilan verme olanağı sağlayan, diğer yandan alıcılar için ilanların kolay aranmasını sağlayan bir sitedir.
            </div>


        </div>
    </div>
</section>
<!-- section about end -->
<!--  team -->
<section aria-label="projects" class="dot">
    <div class="container-fluid m-5-hor">
        <div class="row">

            <!-- heading text -->
            <div class="col-md-4">
                <h1 class="heading no-top">
                    @CeilraResource.team
                </h1>
                <h2 class="no-top">
                    @CeilraResource.we <br>
                </h2>

            </div>
            <!-- heading text end -->

            <div class="col-md-8">
                <div class="onStep" data-animation="fadeInUp" data-time="0">
                    <div id="owl-team" class="owl-carousel">

                        <div class="item">
                            <div class="gal-home">
                                <div class="hovereffect">
                                    <img  alt="imageportofolio" class="img-responsive" src="~/tf/concreate/img\team\img1.jpg">
                                </div>
                                <div class="gal-home-content">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-6 col-xs-6">
                                            <h4 class="no-bottom">Muhammet Tarık Çepi</h4>
                                            <p>Kurucu</p>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-xs-6">
                                            <div class="post-share">
                                                <ul class="share-list">
                                                    <li>
                                                        <a href="#" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="gal-home">
                                <div class="hovereffect">
                                    <img alt="imageportofolio" class="img-responsive" src="~/tf/concreate/img\team\img2.jpg">
                                </div>
                                <div class="gal-home-content">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-6 col-xs-6">
                                            <h4 class="no-bottom">Rayan Alheraki</h4>
                                            <p>Kurucu</p>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-xs-6">
                                            <div class="post-share">
                                                <ul class="share-list">
                                                    <li>
                                                        <a href="#" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="gal-home">
                                <div class="hovereffect">
                                    <img  alt="imageportofolio" class="img-responsive" src="~/tf/concreate/img\team\img3.jpg">
                                </div>
                                <div class="gal-home-content">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-6 col-xs-6">
                                            <h4 class="no-bottom">İlhan Ordukaya</h4>
                                            <p>Kurucu</p>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-xs-6">
                                            <div class="post-share">
                                                <ul class="share-list">
                                                    <li>
                                                        <a href="#" target="_blank" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--  team end -->
