﻿@using ArayanBulur.Resources
@using ArayanBulur.Models
@{
    ViewBag.Title = CeilraResource.Car;
}
@model WebApplication1.Controllers.toViews

<h2>@CeilraResource.Car</h2>


@foreach (var m in Model.Products)
{

    <div class="row">
        <div class="col-sm-12 product-item">
            @if (m.ProductFoto == null)
            {
                <div class="col-md-3 col-sm-12 thumnail-img" style="background-image: url('~/tf/concreate/img/resimyok.png');"></div>
            }
            else
            {
                <div class="col-md-3 col-sm-12 thumnail-img" style="background-image: url('data:image/jpeg/png;base64,@System.Convert.ToBase64String(m.ProductFoto)');"></div>
            }
            <div class="col-md-9 col-sm-12">
                <h3>@m.Name</h3>
                <p>@m.Description</p>
                <a href="/Home/Details?y=@m.ProductID" class="btn details-btn">@CeilraResource.Details <i class="fa fa-arrow-right"></i></a>
                <!-- <p>@Html.ActionLink(" | " + @CeilraResource.Details, "Details", "Home", new { y = m.ProductID }, null)</p> -->
            </div>
        </div>
    </div>
}

@*
    <!--  breadcumb -->
    <section aria-label="breadcumb" class="no-padding crumbs">
        <div class="container-fluid m-5-hor">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="crumbs">İlan</h1>
                    <ul id="crumbs">
                        <li><a href="index-1.html">Anasayfa</a></li>
                        <li>İlan Detayı</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--  breadcumb end -->
    <!--  projects detail -->
    <section aria-label="projects" class="no-padding">
        <div class="container-fluid m-5-hor">
            <div class="row">

                <!-- detail project -->
                <div id="detailproject" class="col-md-12">
                    <div id="owl-detail" class="owl-carousel">
                        <div class="item">
                            <div class="gal-home">
                                <div class="hovereffect">
                                    <a class="big-img-1" href="img\gallery-home\img1.jpeg">
                                        <img alt="imageportofolio" class="img-responsive" src="img\gallery-home\img1.jpeg">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="gal-home">
                                <div class="hovereffect">
                                    <a class="big-img-1" href="img\gallery-home\img2.jpeg">
                                        <img alt="imageportofolio" class="img-responsive" src="img\gallery-home\img2.jpeg">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="gal-home">
                                <div class="hovereffect">
                                    <a class="big-img-1" href="img\gallery-home\img3.jpeg">
                                        <img alt="imageportofolio" class="img-responsive" src="img\gallery-home\img3.jpeg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sticky detail -->
                    <div class="stiky-detail">
                        <div class="detaillist">
                            <h2>İlan Detayı</h2>
                            <span>
                                <strong>Categories</strong><span>:</span>
                                Architect, Renovation, Tilling
                            </span>
                            <span>
                                <strong>Client</strong><span>:</span>
                                Johny Dono
                            </span>
                            <span>
                                <strong>Date</strong><span>:</span>
                                Apr 05, 2017
                            </span>
                            <span>
                                <strong>Budget</strong><span>:</span>
                                $ 8,00,000
                            </span>
                            <span>
                                <strong>Duration</strong><span>:</span>
                                6 Months
                            </span>
                            <span>
                                <strong>Tags</strong><span>:</span>
                                Commercial
                            </span>
                        </div>
                        <div class="hide-detail">Detayları Gizle &rarr;</div>
                        <div class="show-detail">&larr; Detayları Göster</div>
                    </div>
                    <!-- sticky detail end -->
                </div>
                <!-- detail project end -->
                <!-- content text -->
                <div class="col-md-12">
                    <h2 class="heading no-top">
                        Benzer İlanlar
                    </h2>
                    <h3 class="headingcontent">
                        <!--  The Luxury Residence In Your Room -->
                    </h3>

                    <!-- content text icon -->
                    <div class="spanpost">
                        <span class="user-post">
                            <i class="ti-user"></i>

                        </span>
                        <span class="date-post">
                            <i class="ti-calendar"></i>
                        </span>
                    </div>


                </div>
            </div>
    </section>
    <!--  projects detail end -->
*@