﻿@using ArayanBulur.Resources
@{
    ViewBag.Title = CeilraResource.Computer;
}

<h2>@CeilraResource.Computer</h2>

@foreach (var m in Model.Products)
{


    <div class="row">
        <div class="col-sm-12 product-item">
            @if (m.ProductFoto == null)
            {
                <div class="col-md-3 col-sm-12 thumnail-img" style="background-image: url('~/tf/concreate/img/resimyok.png');"></div>
            }
            else
            {
                <div class="col-md-3 col-sm-12 thumnail-img" style="background-image: url('data:image/jpeg/png;base64,@System.Convert.ToBase64String(m.ProductFoto)');"></div>
            }
            <div class="col-md-9 col-sm-12">
                <h3>@m.Name</h3>
                <p>@m.Description</p>
                <a href="/Home/Details?y=@m.ProductID" class="btn details-btn">@CeilraResource.Details <i class="fa fa-arrow-right"></i></a>
                <!-- <p>@Html.ActionLink(" | " + @CeilraResource.Details, "Details", "Home", new { y = m.ProductID }, null)</p> -->
            </div>
        </div>
    </div>

}
