﻿@using ArayanBulur.Resources
@using ArayanBulur.Models
@model WebApplication1.Controllers.toViews
@{
    ViewBag.Title =CeilraResource.Details;
}

<h2>Details</h2>

<div>
    <h4>@CeilraResource.product</h4>
    <hr />
    @foreach (var m in Model.Products)
    {
        
    <!--  projects detail -->
    <section aria-label="projects" class="no-padding">
        <div class="container-fluid m-5-hor">
            <div class="row">

                <!-- detail project -->
                <div id="detailproject" class="col-md-12">
                    <div id="owl-detail" class="owl-carousel">
                        <div class="item">
                            <div class="gal-home">
                                <div class="hovereffect">
                                    <a class="big-img-1" href="data:image/jpeg/png;base64,@System.Convert.ToBase64String(m.ProductFoto)">
                                        <img alt="imageportofolio" class="img-responsive" src="data:image/jpeg/png;base64,@System.Convert.ToBase64String(m.ProductFoto)">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sticky detail -->
                    <div class="stiky-detail">
                        <div class="detaillist">
                            <h2>@CeilraResource.ListData</h2>
                            @switch (m.CategoryID)
                                {
                                case 1:
                                <span>
                                    <strong>@CeilraResource.Name</strong><span>:</span>
                                    @m.Name
                                </span>
                                <span>
                                    <strong>@CeilraResource.Description</strong><span>:</span>
                                    @m.Description
                                </span>
                                <span>
                                    <strong>@CeilraResource.Price</strong><span>:</span>
                                    @m.Price
                                </span>
                                <span>
                                    <strong>@CeilraResource.IlanTarihi</strong><span>:</span>
                                    @m.Ilantarih
                                </span>
                                <span>
                                    <strong>@CeilraResource.Brand</strong><span>:</span>
                                    @m.Brand
                                </span>
                                <span>
                                    <strong>@CeilraResource.Model</strong><span>:</span>
                                    @m.Model
                                </span>
                                <span>
                                    <strong>@CeilraResource.Km</strong><span>:</span>
                                    @m.Km
                                </span>
                                break;
                                case 2:
                                <span>
                                    <strong>@CeilraResource.Name</strong><span>:</span>
                                    @m.Name
                                </span>
                                <span>
                                    <strong>@CeilraResource.Description</strong><span>:</span>
                                    @m.Description
                                </span>
                                <span>
                                    <strong>@CeilraResource.Price</strong><span>:</span>
                                    @m.Price
                                </span>
                                <span>
                                    <strong>@CeilraResource.IlanTarihi</strong><span>:</span>
                                    @m.Ilantarih
                                </span>
                                <span>
                                    <strong>@CeilraResource.SquareMeter</strong><span>:</span>
                                    @m.SquareMeter
                                </span>
                                <span>
                                    <strong>@CeilraResource.Address</strong><span>:</span>
                                    @m.Adress
                                </span>
                                <span>
                                    <strong>@CeilraResource.RoomNumber</strong><span>:</span>
                                    @m.RoomNumber
                                </span>
                                <span>
                                    <strong>@CeilraResource.Year</strong><span>:</span>
                                    @m.Year
                                </span>
                                break;
                                case 3:
                                <span>
                                    <strong>@CeilraResource.Name</strong><span>:</span>
                                    @m.Name
                                </span>
                                <span>
                                    <strong>@CeilraResource.Description</strong><span>:</span>
                                    @m.Description
                                </span>
                                <span>
                                    <strong>@CeilraResource.Price</strong><span>:</span>
                                    @m.Price
                                </span>
                                <span>
                                    <strong>@CeilraResource.IlanTarihi</strong><span>:</span>
                                    @m.Ilantarih
                                </span>
                                <span>
                                    <strong>@CeilraResource.Brand</strong><span>:</span>
                                    @m.Brand
                                </span>
                                <span>
                                    <strong>@CeilraResource.Model</strong><span>:</span>
                                    @m.Model
                                </span>
                                <span>
                                    <strong>@CeilraResource.Km</strong><span>:</span>
                                    @m.Km
                                </span>
                                break;
                                case 4:
                                <span>
                                    <strong>@CeilraResource.Name</strong><span>:</span>
                                    @m.Name
                                </span>
                                <span>
                                    <strong>@CeilraResource.Description</strong><span>:</span>
                                    @m.Description
                                </span>
                                <span>
                                    <strong>@CeilraResource.Price</strong><span>:</span>
                                    @m.Price
                                </span>
                                <span>
                                    <strong>@CeilraResource.IlanTarihi</strong><span>:</span>
                                    @m.Ilantarih
                                </span>
                                <span>
                                    <strong>@CeilraResource.Brand</strong><span>:</span>
                                    @m.Brand
                                </span>
                                <span>
                                    <strong>@CeilraResource.Model</strong><span>:</span>
                                    @m.Model
                                </span>
                                <span>
                                    <strong>@CeilraResource.ProcessorType</strong><span>:</span>
                                    @m.ProcessorType
                                </span>
                                <span>
                                    <strong>@CeilraResource.Ram</strong><span>:</span>
                                    @m.Ram
                                </span>
                                <span>
                                    <strong>@CeilraResource.GraphicsCard</strong><span>:</span>
                                    @m.GraphicsCard
                                </span>
                                <span>
                                    <strong>@CeilraResource.Resolution</strong><span>:</span>
                                    @m.Resolution
                                </span>
                                break;
                                case 5:
                                <span>
                                    <strong>@CeilraResource.Name</strong><span>:</span>
                                    @m.Name
                                </span>
                                <span>
                                    <strong>@CeilraResource.Description</strong><span>:</span>
                                    @m.Description
                                </span>
                                <span>
                                    <strong>@CeilraResource.Price</strong><span>:</span>
                                    @m.Price
                                </span>
                                <span>
                                    <strong>@CeilraResource.IlanTarihi</strong><span>:</span>
                                    @m.Ilantarih
                                </span>
                                <span>
                                    <strong>@CeilraResource.Brand</strong><span>:</span>
                                    @m.Brand
                                </span>
                                <span>
                                    <strong>@CeilraResource.Model</strong><span>:</span>
                                    @m.Model
                                </span>
                                <span>
                                    <strong>@CeilraResource.Camera</strong><span>:</span>
                                    @m.Camera
                                </span>
                                <span>
                                    <strong>@CeilraResource.ProcessorType</strong><span>:</span>
                                    @m.ProcessorType
                                </span>
                                <span>
                                    <strong>@CeilraResource.Ram</strong><span>:</span>
                                    @m.Ram
                                </span>
                                <span>
                                    <strong>@CeilraResource.Resolution</strong><span>:</span>
                                    @m.Resolution
                                </span>
                                break;
                                default:
                                break;
                                }

                        </div>
                        <div class="hide-detail">Detayları Gizle &rarr;</div>
                        <div class="show-detail">&larr; Detayları Göster</div>
                    </div>
                    <!-- sticky detail end -->
                </div>
     

                </div>
            </div>
    </section>
    <!--  projects detail end -->
    }






    @*  <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
             @Html.ActionLink("Back to List", "Index")
         </p>*@
