﻿@using ArayanBulur.Resources
@using ArayanBulur.Models
@{
    ViewBag.Title = CeilraResource.Index;
}
@model WebApplication1.Controllers.toViews

<!-- slider-->
<section class="no-top no-bottom" aria-label="section-slider">
    <!-- home -->
    <div id="mainbanner">
        <div class="fullwidthbanner-container">
            <div id="revolution-slider-half">
                <ul>


                    <!--  BACKGROUND IMAGE -->

                    @foreach (var m in Model.Products)
                    {
                        if (m.ProductID >= 5)
                        {
                            if (m.ProductFoto == null)
                            {

                                <li data-transition="parallaxtobottom" data-slotamount="10" data-masterspeed="1200" data-delay="5000">
                                    <img src="~/tf/concreate/img/resimyok.png" alt="" data-start="0" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="120" data-bgfitend="100" data-bgpositionend="center center">
                                    <div class="tp-caption slide-sub-heading sft" data-x="0" data-y="350" data-speed="1000" data-start="800" data-easing="easeOutExpo" data-endspeed="400">
                                        @m.Name
                                    </div>

                                    <div class="tp-caption btn-slider sfb" data-x="0" data-y="450" data-speed="400" data-start="800" data-easing="easeInOutExpo">
                                        <span class="shine"></span>
                                        <a href="/Home/Index">@CeilraResource.Details &rarr;</a>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li data-transition="parallaxtobottom" data-slotamount="10" data-masterspeed="1200" data-delay="5000">
                                    <img src="data:image/jpeg/png;base64,@System.Convert.ToBase64String(m.ProductFoto)" alt="" data-start="0" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="120" data-bgfitend="100" data-bgpositionend="center center">

                                    <div class="tp-caption slide-sub-heading sft" data-x="0" data-y="350" data-speed="1000" data-start="800" data-easing="easeOutExpo" data-endspeed="400">
                                        @m.Name
                                    </div>

                                    <div class="tp-caption btn-slider sfb" data-x="0" data-y="450" data-speed="400" data-start="800" data-easing="easeInOutExpo">
                                        <span class="shine"></span>
                                        @if (m.CategoryID == 1) {
                                        <a href="/Home/Araba">@CeilraResource.Details &rarr;</a>
                                        }
                                        @if (m.CategoryID == 2) {
                                        <a href="/Home/Gayrimenkul">@CeilraResource.Details &rarr;</a>
                                        }
                                        @if (m.CategoryID == 3) { 
                                        <a href="/Home/Yat">@CeilraResource.Details &rarr;</a>
                                            }
                                        @if (m.CategoryID == 4) { 
                                        <a href="/Home/Bilgisayar">@CeilraResource.Details &rarr;</a>
                                            }
                                        
                                        @if (m.CategoryID == 5) { 
                                        <a href="/Home/Telefon">@CeilraResource.Details &rarr;</a>
                                    }

                                    </div>
                                </li>
                            }
                        }
                    }




                </ul>
                <div class="tp-bannertimer hide"></div>
            </div>
        </div>
    </div>
    <!-- home end -->
</section>
<br />
<!--urunlar -->
@foreach (var m in Model.Products)
{
    if (m.ProductID <= 9)
    {
        <div class="row">
            <div class="col-sm-12 product-item">
                @if (m.ProductFoto == null)
                {
                    <div class="col-md-3 col-sm-12 thumnail-img" style="background-image: url('~/tf/concreate/img/resimyok.png');"></div>
                }
                else
                {
                    <div class="col-md-3 col-sm-12 thumnail-img" style="background-image: url('data:image/jpeg/png;base64,@System.Convert.ToBase64String(m.ProductFoto)');"></div>
                }
                <div class="col-md-9 col-sm-12">
                    <h3>@m.Name</h3>
                    <p>@m.Description</p>
                    <a href="/Home/Details?y=@m.ProductID" class="btn details-btn">@CeilraResource.Details <i class="fa fa-arrow-right" ></i></a>
                    <!-- <p>@Html.ActionLink(" | " + @CeilraResource.Details, "Details", "Home", new { y = m.ProductID }, null)</p> -->
                </div>
            </div>
        </div>
    }
}